a {
    display: block;

    font-size: 20px;
}
img {
    position: absolute;
    top: 100px;
    left: 400px;

    background-color: rgba(0,0,0,.5);

    display: none;

    height: 500px;
    width: 500px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0,.5);

    display: none;

    height: 100%;
    width: 100%;
}
